body {
    background-image: url(../images/beige-tiles.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    background: white;
    margin: 20px auto;
    padding-bottom: 10px;   
}

h1, 
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
    padding: 20px 0px 20px 0px;
}

.bio-pic {
    margin-bottom: 20px;
}

button {
    background: #4aaaa5;
    color: #fff;
    padding: 10px 30px;
    border: 4px;    
}

.card {
    margin-bottom: 20px;
}

.fit {
    object-fit: contain;
}

h3 {
    background: #4aaaa5;
    color: #fff;
    text-align: center;
}

footer {
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background: #666;
    padding-top: 40px;
    color: #fff;
}